* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}
.App-contener {
	width: 350px;
	height: 400px;
	padding: 5px 0px 1px 8px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 7px;
}
.App-image {
	width: 330px;
	height: 330px;
	border-radius: 7px;
}
.App_contener {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.App-button-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	height: 100px;
}
